.reveal .volcano-5 {
  color: #ff7a45;
}
.reveal .volcano-6 {
  color: #fa541c;
}
.reveal .volcano-7 {
  color: #d4380d;
}
.reveal .lime-5 {
  color: #bae637;
}
.reveal .lime-6 {
  color: #a0d911;
}
.reveal .lime-7 {
  color: #7cb305;
}
.reveal .var {
  color: #ff7a45;
}
.reveal .red-6 {
  color: #f5222d;
}
